{% extends 'teachadmin/base.html' %}
{% load bootstrap4 %}

{% block view_title_block %}
    <div class="jumbotron bg-secondary">
        <h1 class="display-4" align="center">
            {{ assignment }} ({{ assignment.subject }})
        </h1>
    </div>
{% endblock view_title_block %}


{% block content_block %}
    <div class="row">
        <div class="col-4">
            <h3>Scores for {{ assignment }}</h3>
            {% for assignmentscore in assignment.assignmentscore_set.all %}
                {% if forloop.first %}
                    <ul>
                {% endif %}
                    <li><a href="">{{ assignmentscore.student }} - {{ assignmentscore }}</a></li>
                {% if forloop.last %}
                    </ul>
                {% endif %}
            {% empty %}
                <h6 class="text-muted">No scores in {{ assignment }} yet.</h6>
            {% endfor %}
            <h6><strong><a href="{% url 'teachadmin:subject_add_assignment' assignment.subject.pk %}">Add score</a></strong></h6>
        </div>
        <div class="col-8">
            {% if graph %}
                <img src="{{ MEDIA_URL }}/assignments/{{ assignment.pk }}.png" alt="{{ assignment|title }} graph" class="img-fluid rounded" />
            {% else %}
                <h1 class="display-1">
                    Error loading graph...
                </h1>
            {% endif %} 
        </div>
    </div>
{% endblock content_block %}