{% extends 'teachadmin/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block view_title_block %}
    <div class="jumbotron bg-secondary">
        <h1 align="center" class="display-4">{{ homeroom }}<br>({{ homeroom.school }})</h1>
    </div>
{% endblock view_title_block %}

{% block content_block %}
    <div class="row">
        <div class="col-4">
        <h3><u>Homeroom info:</u></h3>
        <p>
            <strong>School: </strong>{{ homeroom.school }}
        </p>
        <p>
            <strong>Grade: </strong>{{ homeroom.grade }}
        </p>
        <p>
            <strong>Teacher(s): </strong>
            {% for teacher in homeroom.teacher.all %}
                {% if forloop.first %}{{ teacher }}{% endif %}
                {% if forloop.counter >= 2 %}, {{ teacher }}{% endif %}
            {% endfor %}
        </p>
        <h3><u>Students:</u></h3>       
            <ol>
                {% for student in homeroom.student_set.all %}
                    <li>
                        <a href="{% url 'teachadmin:student_detail' student.pk %}"><h5>{{ student }}</h5></a>
                    </li>
                {% empty %}
                    <h3 class="text-muted">No students in this homeroom yet...</h3>
                {% endfor %}
            </ol>
            <strong><a href="{% url 'teachadmin:homeroom_update' homeroom.pk %}">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
            </svg>
            Add students</a>
        </strong>
        </div>
        <div class="col-8">
            <h1 class="display-1">Graph here!</h1>
        </div>
    </div>
{% endblock content_block %}
