{% extends 'teachadmin/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block view_title_block %}
    <div class="jumbotron bg-secondary">
        <h1 class="display-4" align="center">
            {{ view_title }}<br>
            {{ view_title2 }}
        </h1>
    </div>
{% endblock view_title_block %}


{% block content_block %}
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <label for="lessontestscore_students">Student</label><br>
            <select name="students" id="lessontestscore_students" class="form-control">
                {% for student in lessontest.lesson.subject.student_set.all %}
                    <option value="{{ student.pk }}">{{ student }}</option>
                {% endfor %}
            </select><br><br>
        <input type="submit" value="Add score" class="btn btn-primary">
    </form>
{% endblock content_block %}